/* CardComponent.css */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los elementos del formulario */
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .input-container{
    display: flex;
    flex-direction: column;
    gap: 0rem; /* Espacio entre los elementos del formulario */
  }
  
  .terms {
    margin-top: 1rem; /* Espacio arriba del texto de términos y condiciones */
  }
  .container-center{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    justify-content: center;
    align-items: center
  }
  .btn-min{
    width: 100%; /* El botón ocupa todo el ancho del contenedor */
    max-width: 329px; /* Establece un ancho máximo para evitar botones demasiado grandes */
    padding: 0.5rem 1rem;
  }

  .center{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }