/* Estilos de la página de filtros */
.filter-page {
  padding: 20px;
}

/* Contenedor principal que alinea el div de inputs y el botón */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
}

/* Contenedor de los inputs */
.inputs-container {
  display: flex;
  gap: 1rem; /* Separación entre los inputs */
}

/* Estilo general para los inputs */
.input {
  width: 200px; /* Ancho uniforme para los inputs y selects */
}

/* Líneas separadoras */
.MuiDivider-root {
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.1); /* Color gris suave */
}


/* la parte del parrafo con el select*/
/* Estilos generales para la página */
.alquileres-layout {
  padding: 20px;
}

/* Estilos de la sección de filtros */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 10px 0;
}

.inputs-container {
  display: flex;
  gap: 1rem;
}

.input {
  width: 200px;
}

.MuiDivider-root {
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Estilos generales para la página */
.alquileres-layout {
  padding: 20px;
}

/* Contenedor de párrafo y select */
.paragraph-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.select-element {
  width: 200px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  .paragraph-select-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .select-element {
    width: 100%;
  }
}
